@import "../../styles/mixins";
@import "../../styles/variables";

.rf-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: auto;
  height: 40px;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.15s ease-in all;
  white-space: nowrap;
}

.rf-button.rf-button__full-width {
  width: 100%;
}

.rf-button--primary {
  background-color: var(--basic-primary);
  color: var(--background-primary);
}
