.fs-rate-picker{
  border-bottom: 1px solid var(--background-secondary);
}

.fs-rate-content{
  display: inline-block;
  width: 640px;
  margin-bottom: 16px;
  padding-left: 4px;
  box-sizing: content-box;
}

.fs-rate-picker-items{
  display: flex;
  padding-left: 4px;
  margin-bottom: 16px;
  flex-direction: row;
  input{
    display: none;
  }
  label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 40px;
    border:1px solid var(--background-secondary);
    box-sizing: border-box;
    cursor: pointer;
  }
}
.rf-rate-picker-item-rounded-left{
  label{
    border-top-left-radius:7px;
    border-bottom-left-radius: 7px;
  }
}


.rf-rate-picker-item-rounded-right{
  label{
    border-top-right-radius:7px;
    border-bottom-right-radius: 7px;
  }
}

.rf-rate-picked{
  background-color: var(--basic-primary);
  color: var( --text-inversion);
}
